body {
    background-color: #eee !important;
}

.custom-background {
    background: #961e94;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #961e94 0%, #bf2666 51%, #ff8989 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #961e94 0%, #bf2666 51%, #ff8989 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #961e94 0%, #bf2666 51%, #ff8989 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#961e94', endColorstr='#ff8989', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: 700px;
}

.custom-background-simple {
    background: #961e94;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #961e94 0%, #bf2666 51%, #ff8989 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #961e94 0%, #bf2666 51%, #ff8989 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #961e94 0%, #bf2666 51%, #ff8989 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#961e94', endColorstr='#ff8989', GradientType=1);
}

.pagination>.active>a,
.pagination>.active>a:hover {
    background-color: #bf2666 !important;
    border-color: #bf2666 !important;
    color: white !important;
}

.alert {
    margin-bottom: 0px !important;
}

.input-group{
    margin-bottom: 5px !important;
}

a {
    color: #bf2666 !important;
}

.glyphicon {
    margin-right: 5px;
}

.custom-color {
    color: #bf2666 !important;
}

.custom-inverse {
    background: #eee !important;
    color: #bf2666 !important;
}

.custom-login-form {
    margin-top: 70px;
    border-radius: 20px;
    padding: 50px 30px 40px;
}

.custom-btn-color {
    background: #bf2666 !important;
    color: #fff!important;
}

.custom-btn-color hover {
    color: #eee !important;
}

.custom-btn {
    background: #bf2666;
    color: #fff;
    width: 100%;
}

.custom-btn:hover {
    color: #ddd;
}

.custom-regis-title {
    margin: 20px 0px;
}

.custom-input-group {
    margin: 20px 0px;
}

.custom-text-logo {
    font-size: 65pt;
    font-family: "Shrikhand";
    color: #bf2666 !important;
}

.custom-text-logo.small {
    font-size: 25pt;
}

.custom-footer {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    background: #eee;
    color: #777;
}

.alert {
    margin-bottom: 0px !important;
}

.panel-default>.panel-heading {
    color: #bf2666 !important;
}